In [30]:
import pandas as pd
import numpy as np
import os

In [33]:
data.head()

,4.830686144835195428e+00,3.050904561835800166e+00,0.000000000000000000e+00
0,4.385330,4.491989,0.0
1,5.653520,4.852372,0.0
2,3.487049,5.517360,0.0
3,6.339344,5.173789,0.0
4,15.249076,16.366936,1.0

In [34]:
data1=pd.read_csv("Train1.csv",header=None,names=["x1","x2","y"])

In [35]:
data1.head(10)

          x1         x2    y
0   4.830686   3.050905  0.0
1   4.385330   4.491989  0.0
2   5.653520   4.852372  0.0
3   3.487049   5.517360  0.0
4   6.339344   5.173789  0.0
5  15.249076  16.366936  1.0
6   3.357427   6.741764  0.0
7  14.594383  15.573734  1.0
8   5.299253   4.872819  0.0
9  13.767095  13.991792  1.0